:root {
    --cor-fundo-body: white;
    --cor-fundo-menu: rgb(110, 191, 231);
    --cor-texto-menu: #FFFFFF;
    --cor-texto-titulo: #102C57;
    --cor-texto: #333;
    --cor-botao: #2fa0d9;
    --cor-botao-hover: #125682;
    --cor-card-fundo: #2C3E50;
    --cor-card-texto: #FFFFFF;
    --cor-status-realizado: #2ECC71;
    --cor-status-nao-votado: #E74C3C;
    --cor-borda-card: #2C3E50;
    --fundo-forms: rgb(151, 205, 232);
    --cor-fundo-lista-emails: #1a37c9de;
    --cor-btn-cancelar: #d35151;
    
}

@keyframes blockchain {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--cor-fundo-body);
    background-image: 
        linear-gradient(45deg, rgb(110, 191, 231) 6px, transparent 10px),
        linear-gradient(-45deg, rgb(25, 41, 191) 6px, transparent 10px),
        linear-gradient(135deg, rgb(25, 41, 191) 6px, transparent 10px),
        linear-gradient(-135deg, rgb(110, 191, 231) 6px, transparent 10px);
    background-size: 100px 100px;
    animation: blockchain 400s infinite linear;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--cor-fundo-menu);
    color: var(--cor-texto-menu);
}

.menu {
    position: relative;
}

.menu i {
    cursor: pointer;
    font-size: 24px;
}

.menu-content {
    display: none;
    position: absolute;
    width: 150px;
    top: 23px;
    left: 0;
    background-color: var(--cor-fundo-menu);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 0;
    overflow: hidden; 
    transition: max-height 0.3s ease;
}

.menu-content a {
    display: block;
    padding: 5px;
    color: var(--cor-texto-menu);
    text-decoration: none;
}

.menu-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu:hover .menu-content {
    display: block;
}

.admin-badge {
    background-color: #E74C3C;
    padding: 5px 10px;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 20px;
}

.logout {
    color: var(--cor-texto-menu);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logout i {
    margin-right: 5px;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: var(--cor-texto-titulo);
    text-align: center;
}

.divTitulo{
    background-color: white;
    margin: 0 44%;
    border-radius: 5px;
}

form {
    background-color: var(--fundo-forms);
    padding: 20px;
    margin-top: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 0px 6px 0px #6ba5d2;
    border-radius: 8px;
    box-sizing: border-box; 
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80vh;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--cor-texto-titulo);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.votantes-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.votantes-list input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    box-sizing: border-box;
}

.votantes-list span {
    margin-right: 10px;
}

.add-btn,
.edit-btn,
.delete-btn {
    background-color: var(--cor-botao);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--cor-texto-menu);
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
}

.add-btn {
    background-color: #2ECC71;
}

.edit-btn {
    background-color: #FFC107;
}

.delete-btn {
    background-color: #E74C3C;
}

.opcoes-list label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: var(--cor-texto-titulo);
    margin: 5px 0px;
    border: 1px solid #102C57 ;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 0;
    padding-left: 30px;
    background-color: rgb(193, 234, 255);
}

.opcoes-list label:hover{
    background-color: rgb(168, 217, 241);
}

.opcoes-list input {
    margin-right: 10px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.cancel-btn,
.save-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.cancel-btn {
    background-color: var(--cor-btn-cancelar);
}

.save-btn {
    background-color: var(--cor-botao);
}

.save-btn:hover {
    background-color: var(--cor-botao-hover);
}

.opcoes-list {
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    line-height: 1.5;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 12px;
    width: 12px;
    background-color: white;
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 50%;
}

.radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: white;
}

.radio-container input:checked ~ .checkmark {
    animation: pulse 0.5s ease;
}

@keyframes pulse {
    0% { background-color: #2196F3; }
    50% { background-color: rgb(78, 199, 78); }
    100% { background-color: #2196F3; }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--cor-fundo-body);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(18, 68, 194);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(128, 57, 215);
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: 300px;
}

.popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.popup li {
    margin: 20px 0;
    border-bottom: 1px solid black;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}