:root {
    --cor-fundo-body: white;
    --cor-fundo-menu:rgb(110, 191, 231);
    --cor-texto-menu: #FFFFFF;
    --cor-texto-titulo: rgb(23, 34, 132);
    --cor-texto: #333;
    --cor-botao: rgb(21, 120, 192);
    --cor-botao-hover: #125682;
    --cor-card-fundo: rgb(140, 205, 238);
    --cor-sombra-card: rgb(97, 151, 227);
    --cor-status-nao-votado: #db3422;
    --cor-fundo-blockchain: rgb(110, 191, 231);
    --cor-status-realizado: rgb(40, 161, 13);
}

@keyframes blockchain {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--cor-fundo-body);
    background-image: 
    linear-gradient(45deg, rgb(110, 191, 231) 6px, transparent 10px),
    linear-gradient(-45deg, rgb(25, 41, 191) 6px, transparent 10px),
    linear-gradient(135deg, rgb(25, 41, 191) 6px, transparent 10px),
    linear-gradient(-135deg, rgb(110, 191, 231) 6px, transparent 10px);
    background-size: 100px 100px;
    animation: blockchain 400s infinite linear;
    overflow: hidden;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--cor-fundo-menu);
    color: var(--cor-texto-menu);
}

.menu {
    position: relative;
}

.menu i {
    cursor: pointer;
    font-size: 24px;
}

.menu-content {
    display: none;
    position: absolute;
    width: 300px;
    top: 23px;
    left: 0;
    background-color: var(--cor-fundo-menu);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 0;
    overflow: hidden; 
    transition: max-height 0.3s ease;
}


.menu-content a {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #125682 ;
    color: var(--cor-texto-menu);
    text-decoration: none;
}

.menu-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu:hover .menu-content {
    display: block;
}

.admin-badge {
    background-color: #E74C3C;
    padding: 5px 10px;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 20px;
}

.logout {
    color: var(--cor-texto-menu);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logout i {
    margin-right: 5px;
}

.container {
    padding: 20px;
    display: flex;
    overflow-y: auto;
    height: 80vh;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: var(--cor-texto-titulo);
    text-align: center;
    font-size: 30px;
}

.divTitulo{
    background-color: white;
    border-radius: 5px;
}

.votacao-card {
    background-color: var(--cor-card-fundo);
    color: var(--cor-card-texto);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 0 7px var(--cor-sombra-card);
    width: 90%;
    max-width: 600px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.votacao-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.votacao-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.votacao-header h3 {
    margin: 0;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

.realizado {
    background-color: var(--cor-status-realizado);
}

.nao-votado {
    background-color: var(--cor-status-nao-votado);
}

.btn-visualizar {
    background-color: var(--cor-botao);
    color: #FFFFFF;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    display: inline-block;
}

.btn-visualizar:hover {
    background-color: var(--cor-botao-hover);
}


.container-animacao{
    display: flex;
    bottom: 40%;
    position: absolute;
    width: 200%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
    animation: mover-blockchain-lado 60s infinite linear;
}

.bloco{
    width: 100px;
    min-width: 100px;
    height: 100px;
    display: flex;
    color: white;
    align-items: center;
    filter: blur(2px);
    justify-content: center;
    z-index: -1;
    border-radius: 3px;
    background-color: var(--cor-fundo-blockchain);
}

.linha{
    height: 4px;
    width: 100%;
    filter: blur(1.5px);
    z-index: -1;
    background-color: var(--cor-fundo-blockchain);

}

/* @keyframes mover-blockchain-lado {
    0% {
        translate: 0 0;
    }
    100% {
        translate: -45.5% 0;
    }
} */

@media (max-width: 600px) {
    .container-animacao {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--cor-fundo-body);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(227, 97, 118);
    border-radius: 4px;

}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(225, 21, 55);
}

.nao-iniciada{
    background-color: #125682;
}