:root {
    --cor-fundo-body: white;
    --cor-fundo-menu: rgb(110, 191, 231);
    --cor-texto-menu: #FFFFFF;
    --cor-texto-titulo: #102C57;
    --cor-texto: #333;
    --cor-botao: #1679AB;
    --cor-botao-hover: #125682;
    --cor-card-fundo: #2C3E50;
    --cor-card-texto: #151780;
    --cor-borda-card: #2C3E50;
    --cor-container-fundo: #F8F8F8;
    --cor-section-fundo: rgb(110, 191, 231);
    --cor-titulo-texto: #102C57;
    --cor-descricao-fundo: #000080;
    --cor-descricao-texto: #151780;
    --cor-opcoes-fundo: #000080;
    --cor-opcao-selecionada: #1679AB;
    --cor-opcao-texto: #151780;
    --cor-grafico-barras: #1ABC9C;
    --cor-grafico-barras-selecionada: #1679AB;
}


@keyframes blockchain {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100%;
    }
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

    background-color: var(--cor-fundo-body);
    background-image: 
    linear-gradient(45deg, rgb(110, 191, 231) 6px, transparent 10px),
    linear-gradient(-45deg, rgb(25, 41, 191) 6px, transparent 10px),
    linear-gradient(135deg, rgb(25, 41, 191) 6px, transparent 10px),
    linear-gradient(-135deg, rgb(110, 191, 231) 6px, transparent 10px);
    background-size: 100px 100px;
    animation: blockchain 400s infinite linear;
}

h2 {
    color: var(--cor-texto-titulo);
    text-align: center;
    font-size: 30px;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--cor-fundo-menu);
    color: var(--cor-texto-menu);
}

.menu {
    position: relative;
}

.menu i {
    cursor: pointer;
    font-size: 24px;
}

.menu-content {
    display: none;
    position: absolute;
    width: 300px;
    top: 23px;
    left: 0;
    background-color: var(--cor-fundo-menu);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 0;
    overflow: hidden; 
    transition: max-height 0.3s ease;
}


.menu-content a {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #125682 ;
    color: var(--cor-texto-menu);
    text-decoration: none;
}

.menu-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu:hover .menu-content {
    display: block;
}

.admin-badge {
    background-color: var(--cor-usuario-badge);
    padding: 5px 10px;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 20px;
}

.logout {
    color: var(--cor-texto-menu);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logout i {
    margin-right: 5px;
}

.container {
    padding: 20px 0;
    display: flex;
    overflow-y: auto;
    width: 30%;
    margin: auto;
    margin-top: 2%;
    background-color: white;
    box-shadow: 0 0 6px rgb(35, 154, 227);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--cor-section-fundo);
    color: var(--cor-descricao-texto);
    margin-bottom: 20px;
}

.section-titulo {
    color: white;
}

.section-descricao {
    color: var(--cor-descricao-texto);
}

.section-prazo {
    background-color: var(--cor-section-fundo);
    color: var(--cor-descricao-texto);
}

h3, p {
    margin: 0 0 10px 0;
}

.opcoes {
    margin-top: 10px;

}

.opcao {
    display: grid;
    grid-template-columns: 35% 60%;
    margin-bottom: 15px;
}

.barra{
    display: flex;
    align-items: center;
}

.opcao span {
    color: var(--cor-opcao-texto);
}

.grafico-barra {
    background-color: var(--cor-grafico-barras);
    height: 10px;
    border-radius: 2px;
    margin-left: 10px;
}

.btnVoltar{
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    width: 100px;
    background-color: #125682;
    color: white;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.btnVoltar:hover{
    background-color: #1679AB;
}

.botoes-superiores{
    display: flex;
    width: 80%;
    margin-bottom: 10px;
    justify-content: space-between;
}

.botaoStatus{
    border: none;
    padding: 10px 15px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 3px;
    background-color: rgb(38, 134, 38);
    color: white;
}